/* Theme */
$primary: #525b76;
$secondary: #e5e9ec;
$success: #40c9a7;
$info: #00bcf5;
$warning: #fad961;
$danger: #e76d83;
$light: #ffffff;
$dark: #222222;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$party-colors: (
  'savannah': #fbd189,
  'coast': #97c6ed,
  'rainforest': #b8d8ba,
);

$theme-colors: map-merge($theme-colors, $party-colors);

/* Spacing */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
);

/* Typography */
$headings-margin-bottom: 0;
